In [1]:
import pandas as pd

In [3]:
csvData = pd.read_csv("C:/Users/aj538/Downloads/records.csv")

In [13]:
print("\nBefore sorting:")
print(csvData)

Before sorting:
   ID    Name    Role  Salary
3   4     Ram  Author    4000
4   5  Anupam  Author    5000
2   3   David  Author    6000
1   2    Lisa  Editor    8000
0   1  Pankaj  Editor   10000

In [6]:
print(csvData)

   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

In [8]:
csvData.sort_values(["Salary"], axis=0, ascending=[False], inplace=True)

In [9]:
csvData.sort_values(["Salary"],axis=0, ascending=[True], inplace=True)

In [12]:
print("\nAfter sorting:")
print(csvData)

After sorting:
   ID    Name    Role  Salary
3   4     Ram  Author    4000
4   5  Anupam  Author    5000
2   3   David  Author    6000
1   2    Lisa  Editor    8000
0   1  Pankaj  Editor   10000

In [ ]:

#transporse

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('C:/Users/aj538/Downloads/records.csv')

In [16]:
print(df)

   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

In [17]:
print(df.T)

             0       1       2       3       4
ID           1       2       3       4       5
Name    Pankaj    Lisa   David     Ram  Anupam
Role    Editor  Editor  Author  Author  Author
Salary   10000    8000    6000    4000    5000

In [18]:
print(df.shape)

(5, 4)

In [19]:
print(df.size)

20

In [20]:
#shape

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('C:/Users/aj538/Downloads/records.csv')

In [23]:
print(df)

   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

In [24]:
print(df.shape)

(5, 4)

In [25]:
print(df.size)

20